flask~=3.1.0
sqlalchemy~=2.0.38
waitress

# dev dependencies
pytest>=7.0
pytest-cov>=4.0
black
ptpython
pre-commit
Werkzeug>=2.0.0
pip~=21.3.1
jedi~=0.19.2
distlib~=0.3.9
virtualenv~=20.29.1
requests~=2.32.3
filelock~=3.17.0
freezegun
